<h1>Display your Heroes here</h1>

<div class="pirate">
  <h3>Team Name: <%= @tn %></h3><br>
  <h4>Team Motto: <%= @tm %></h4>
</div><br>


<h2>Display your first hero here</h2>

<div class="hero1">
  <h3>Hero Name: <%= @h1n %></h3><br>
  <h4>Hero Power: <%= @h1p %></h4>
  <h4>Hero Biography: <%= @h1b %></h4>
</div><br>
<h2>Display your second hero here</h2>

<div class="hero2">
  <h3>Hero Name: <%= @h2n %></h3><br>
  <h4>Hero Power: <%= @h2p %></h4>
  <h4>Hero Biography: <%= @h2b %></h4>
</div><br>

<div class="hero3">
  <h3>Hero Name: <%= @h3n %></h3><br>
  <h4>Hero Power: <%= @h3p %></h4>
  <h4>Hero Biography: <%= @h3b %></h4>
</div><br>