<h1><%=@team[:name]%> Team Motto: <%=@team[:motto]%></h1>
<h2>Hero Name: <%=@members[0][:name]%> Hero Power: <%=@members[0][:power]%> Hero Biography: <%=@members[0][:biography]%></h2>
<h2>Hero Name: <%=@members[1][:name]%> Hero Power: <%=@members[1][:power]%> Hero Biography: <%=@members[1][:biography]%></h2>
<h2>Hero Name: <%=@members[2][:name]%> Hero Power: <%=@members[2][:power]%> Hero Biography: <%=@members[2][:biography]%></h2>